.hidden {
  display: none;
}

body {
  font-family: "Hi Melody", cursive;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white;
  text-align: center;
  font-weight: bold;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title {
  font-size: 100px;
  background: linear-gradient(yellow 80%, transparent 20%);
}

input {
  border: #ccc 1px solid;
  border-radius: 5px;
  width: 500px;
  height: 30px;
  text-align: center;
  background-color: rgba(179, 219, 255, 0.2);
  font-weight: bold;
}

#top {
  margin: 50px;
}

#login-form input:first-child {
  width: 200px;
}

#login-form input:last-child {
  width: 50px;
}

#clock {
  font-size: 170px;
  font-weight: lighter;
  margin: 0px;
  padding: 0px;
}

#weather {
  width: 600px;
  margin: 0px;
  font-size: 20px;
  background-color: rgba(179, 219, 255, 0.5);
}

#greeting {
  margin: 0px;
  padding-bottom: 0px;
  font-size: 60px;
}

ul {
  margin: 0px;
  padding-bottom: 10px;
  list-style: none;
  padding-left: 0px;
}

#todo-form {
  margin: 0px;
  padding: 20px;
}

#todo-list span {
  margin: 0px;
  background: linear-gradient(to top, yellow 80%, transparent 10%);
  font-size: 30px;
}

#todo-list button {
  border: #ccc 1px solid;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  font-size: 10px;
  padding: 2px;
  margin-left: 10px;
  background-color: rgba(47, 48, 48, 0.2);
}

#quote {
  width: 600px;
  margin-top: 50px;
  font-size: 25px;
  color: rgb(0, 0, 0);
}

#quote div:last-child {
  font-size: 17px;
}
